body
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 102, 102);
    background-color: rgba(182, 181, 181, 0.2);
}

ul
{
    list-style-image: url(images/plusSign.png);
    line-height: 25px;
}

table
{
    border-collapse: collapse;
}

thead 
{
    color: white;
    background-color: rgb(122, 165, 221);
}

thead th
{
    padding: 5px 0px 10px 0px;
    border: 2px solid rgb(86, 138, 207);
    border-bottom: 4px solid rgb(86, 138, 207);
    text-shadow: -2px -2px grey;
}

tbody
{
    font-size: 14px;
    border-collapse: collapse;
}

tbody th
{
    padding: 20px 40px 20px 10px;
    text-align: left;
    border: 2px solid rgb(86, 138, 207, 0.4);
}

tbody tr
{
    background-color: rgb(86, 138, 207, 0.3);
}

tbody tr.even
{
    background-color: rgb(86, 138, 207, 0.2);
}

tbody td
{
    padding: 10px 50px 10px 10px;
    line-height: 20px;
    border: 2px solid rgb(86, 138, 207, 0.4);
}

.time
{
    font-weight: bold;
}

fieldset
{
    background-color: white;
    width: 400px;
    border: solid 2px rgb(155, 155, 155);
}

.ankieta
{
    float: left;
    width: 200px;
}

legend
{
    font-style: italic;
}

.accept
{
    margin-top: 10px;
    margin-left: 320px;
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
    border: solid 1px rgb(155, 155, 155);
    background-color: green;
    color: white;
}

input[type="text"]:focus, 
input[type="email"]:focus
{
    background-color: rgb(218, 216, 216);
}

input[type="text"]:hover,
input[type="email"]:hover
{
    background-color: rgb(214, 189, 189);
}